# Saison / Jahreszeiten

In [12]:
import pandas as pd

# Datei einlesen
df = pd.read_csv("daten/merged_BSR_dataset.csv")

/var/folders/2_/sb5q2w3x6zz5s2m0zwsdhy_c0000gn/T/ipykernel_22839/2243759844.py:4: DtypeWarning: Columns (28,29,30,31,32,33,34,35,36,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("daten/merged_BSR_dataset.csv")

In [13]:
df.head()

,Monat,KW,Jahr,Datum,Hof,Schicht,Tour,Tonnage,Abfallart,Temperature_Max (°C),...,Fisch,Molkerei-Eier,Speisefette-öle,Obst,Gemüse,"Zucker, Marmelade, Honig",Fertigerichte,Kaffee-Tee,Wasser-Saft,TageZuvorNichtGeliefert
0,1.0,1.0,2019.0,2019-02-01,VMF,1.0,1.0,"5,59",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1.0,1.0,2019.0,2019-02-01,VMF,1.0,4.0,"3,23",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1.0,1.0,2019.0,2019-02-01,VMF,1.0,5.0,"5,68",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1.0,1.0,2019.0,2019-02-01,VMF,1.0,6.0,"5,48",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1.0,1.0,2019.0,2019-02-01,VMF,1.0,7.0,"7,84",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [14]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Frühling"
    elif month in [6, 7, 8]:
        return "Sommer"
    else:
        return "Herbst"

df["Saison"] = df["Monat"].apply(get_season)

In [15]:
df.head()

,Monat,KW,Jahr,Datum,Hof,Schicht,Tour,Tonnage,Abfallart,Temperature_Max (°C),...,Molkerei-Eier,Speisefette-öle,Obst,Gemüse,"Zucker, Marmelade, Honig",Fertigerichte,Kaffee-Tee,Wasser-Saft,TageZuvorNichtGeliefert,Saison
0,1.0,1.0,2019.0,2019-02-01,VMF,1.0,1.0,"5,59",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Winter
1,1.0,1.0,2019.0,2019-02-01,VMF,1.0,4.0,"3,23",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Winter
2,1.0,1.0,2019.0,2019-02-01,VMF,1.0,5.0,"5,68",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Winter
3,1.0,1.0,2019.0,2019-02-01,VMF,1.0,6.0,"5,48",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Winter
4,1.0,1.0,2019.0,2019-02-01,VMF,1.0,7.0,"7,84",BIO,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Winter

### Wochentag als Dummy Variable

In [18]:
df = pd.get_dummies(df, columns=["Saison"])

In [ ]:
df.head()

- NaN werte entfernen
- dann Dummy Variablen für saison