# Saison / Jahreszeiten

In [19]:
import pandas as pd

# Erstelle ein DateRange für alle Tage von 2019 bis Ende 2023
date_range = pd.date_range(start='2019-01-01', end='2023-12-31', freq='D')

In [20]:
df = pd.DataFrame(date_range, columns=['Datum'])

In [25]:
df.head(3)

       Datum
0 2019-01-01
1 2019-01-02
2 2019-01-03

In [22]:
df['Datum'] = pd.to_datetime(df['Datum'])

In [24]:
df.head(3)

       Datum
0 2019-01-01
1 2019-01-02
2 2019-01-03

In [26]:
# Funktion, um die Saison basierend auf dem Monat zu bestimmen
def saison(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Frühling'
    elif month in [6, 7, 8]:
        return 'Sommer'
    else:
        return 'Herbst'

# Hinzufügen der Saison-Spalte
df['Saison'] = df['Datum'].dt.month.apply(saison)

In [30]:
df.head()

       Datum  Saison
0 2019-01-01  Winter
1 2019-01-02  Winter
2 2019-01-03  Winter
3 2019-01-04  Winter
4 2019-01-05  Winter

- NaN werte entfernen
- dann Dummy Variablen für saison

In [31]:
# Dummy-Variablen erstellen
df_dummies = pd.get_dummies(df['Saison'], prefix='Saison')

# Zusammenführen der Dummy-Variablen mit dem ursprünglichen DataFrame
df = pd.concat([df, df_dummies], axis=1)

In [32]:
df.head()

,Datum,Saison,Saison_Frühling,Saison_Herbst,Saison_Sommer,Saison_Winter
0,2019-01-01,Winter,False,False,False,True
1,2019-01-02,Winter,False,False,False,True
2,2019-01-03,Winter,False,False,False,True
3,2019-01-04,Winter,False,False,False,True
4,2019-01-05,Winter,False,False,False,True

In [33]:
df[df_dummies.columns] = df[df_dummies.columns].astype(int)

In [34]:
df.head()

,Datum,Saison,Saison_Frühling,Saison_Herbst,Saison_Sommer,Saison_Winter
0,2019-01-01,Winter,0,0,0,1
1,2019-01-02,Winter,0,0,0,1
2,2019-01-03,Winter,0,0,0,1
3,2019-01-04,Winter,0,0,0,1
4,2019-01-05,Winter,0,0,0,1

In [36]:
df = df.drop(columns=['Saison'])

In [37]:
df.head()

       Datum  Saison_Frühling  Saison_Herbst  Saison_Sommer  Saison_Winter
0 2019-01-01                0              0              0              1
1 2019-01-02                0              0              0              1
2 2019-01-03                0              0              0              1
3 2019-01-04                0              0              0              1
4 2019-01-05                0              0              0              1

In [38]:
# dataset speichern
# df.to_csv("saison.csv", index=False)