# Wochentage 2019 - 2023
- Wochentage werden als numerische Werte gespeichert:

    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6

In [4]:
import pandas as pd

# 2019 bis 2023
all_dates = pd.date_range(start="2019-01-01", end="2023-12-31", freq="D")

# Spalten "Datum" und "Wochentag"
df_dates = pd.DataFrame({"Datum": all_dates})

# passenden Wochentag zuordnen
df_dates["Wochentag"] = df_dates["Datum"].dt.day_name()

df_dates.head()

       Datum  Wochentag
0 2019-01-01    Tuesday
1 2019-01-02  Wednesday
2 2019-01-03   Thursday
3 2019-01-04     Friday
4 2019-01-05   Saturday

In [9]:
df_dates.tail()

          Datum Wochentag
1823 2023-12-29    Friday
1824 2023-12-30  Saturday
1825 2023-12-31    Sunday

In [8]:
# dataset speichern
# df_dates.to_csv("daten/wochentage.csv", index=False, encoding="utf-8")

## Wochentag numerisch

In [11]:
# Wochentag in Zahlen umwandeln
wochentag_mapping = {
    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6
}

df_dates['Wochentag'] = df_dates['Wochentag'].map(wochentag_mapping)

df_dates.head(10)

       Datum  Wochentag
0 2019-01-01          1
1 2019-01-02          2
2 2019-01-03          3
3 2019-01-04          4
4 2019-01-05          5

In [13]:
df_dates.tail()

          Datum  Wochentag
1823 2023-12-29          4
1824 2023-12-30          5
1825 2023-12-31          6

In [12]:
# Datensatz speichern
# df_dates.to_csv("data/wochentage_numerisch.csv", index=False, encoding="utf-8")