## XGBoost Modelltraining auf finalem Datensatz - MIT Inflationsdaten

In [1]:
import pandas as pd
import os

file_path = os.path.join( "..", "Daten",  "Merged_BSR_24Uhr_23mittel.csv")

df = pd.read_csv(file_path)  
df.tail()

,Schicht,Tour,Tonnage,Temperature_Max (°C),Rain_Sum (mm),Snowfall_Sum (cm),Wind_Speed_Max (km/h),Daylight_Duration (s),Temperature_Max (°C) 3-Day Avg,Rain_Sum (mm) 3-Day Avg,...,Feiertag_Pfingstmontag_shift_1,Feiertag_Pfingstmontag_shift_2,Feiertag_Tag der Arbeit_shift_1,Feiertag_Tag der Arbeit_shift_2,Feiertag_Tag der Befreiung_shift_1,Feiertag_Tag der Befreiung_shift_2,Feiertag_Tag der Deutschen Einheit_shift_1,Feiertag_Tag der Deutschen Einheit_shift_2,Feiertag_Zweiter Weihnachtstag_shift_1,Feiertag_Zweiter Weihnachtstag_shift_2
381656,1,5508,2.90,8.5,2.6,0.0,29.8,27757.76,9.8,3.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381657,1,2101,7.86,8.5,2.6,0.0,29.8,27757.76,9.8,3.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381658,1,2102,1.81,8.5,2.6,0.0,29.8,27757.76,9.8,3.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381659,1,3301,0.35,8.5,2.6,0.0,29.8,27757.76,9.8,3.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381660,1,3302,4.13,8.5,2.6,0.0,29.8,27757.76,9.8,3.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Löschen aller Zeilen des Jahres 2019**  
Da Inflationsdaten nur für 2020-2023 vorhanden sind, wird das Jahr 2019 für das Training entfernt.

In [2]:
df = df.drop(df[df["year"] == 2019].index)
print(df["year"].unique())

[2020 2021 2022 2023]

-----------------------
**Vorbereitung der Daten für Training**

In [3]:
X = df.drop(columns=['Tonnage'])  
y = df['Tonnage']

In [ ]:
# Trainingsdaten: 2019, 2020, 2021
X_train = X[X["year"].isin([2019, 2020, 2021])]
y_train = y[X["year"].isin([2019, 2020, 2021])]

# Validierungsdaten: 2022
X_val = X[X["year"] == 2022]
y_val = y[X["year"] == 2022]

# Testdaten: 2023
X_test = X[X["year"] == 2023]
y_test = y[X["year"] == 2023]

print(f"Train: {X_train.shape}, Test: {X_test.shape}, Validation: {X_val.shape}")